.settings-card {
  //max-width: 1100px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(220px, 1fr));
  gap: 12px;
  align-items: end;
}

.actions-row {
  margin-top: 12px;
  display: flex;
  gap: 10px;
  align-items: center;
}

@media (max-width: 860px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
