@use '@angular/material' as mat;





@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    color-scheme: dark;

    --bg: #0b0c10;
    --surface: #111218;
    --border: #232531;

    --text: #e8e8e8;
    --muted: #b8bcc8;

    --btn-bg: #1a1c25;
    --btn-text: #ffffff;
    --btn-border: #2e3140;
  }
}

/* Material M3 themes */
$light-theme: mat.define-theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$rose-palette,
      ),
      typography: (
        brand-family: system-ui,
        plain-family: system-ui,
      ),
      density: (
        scale: 0,
      )
    )
);

$dark-theme: mat.define-theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$azure-palette,
        tertiary: mat.$rose-palette,
      )
    )
);

:root {
  @include mat.core();
  @include mat.all-component-themes($light-theme);



  @include mat.button-base((
    filled-container-shape: 5px,

  ));
  @include mat.list-base((
    list-item-container-shape: 5px, // global list-item radius

  ));

  color-scheme: light;

  --bg: #f6f7fb;
  --surface: #ffffff;
  --border: #e6e8f0;

  --text: #111318;
  --muted: #5b6270;

  --btn-bg: #111318;
  --btn-text: #ffffff;
  --btn-border: #111318;

}

:root[data-theme='dark'] {
  color-scheme: dark;

  --bg: #0b0c10;
  --surface: #111218;
  --border: #232531;

  --text: #e8e8e8;
  --muted: #b8bcc8;

  --btn-bg: #1a1c25;
  --btn-text: #ffffff;
  --btn-border: #2e3140;

  @include mat.all-component-colors($dark-theme);
  @include mat.button-base((
    filled-container-shape: 5px,

  ));

  @include mat.list-base((
    list-item-container-shape: 5px, // global list-item radius

  ))
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

@font-face {
  font-family: 'Material Icons' ;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/material-icons/MaterialSymbolsOutlined.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

