replicaCount: 1

server:
  env:
    - name: GIN_MODE
      value: release

image:
  server:
    repository: harbor.cyberneticks.com/library/b0k3ts-server
    tag: v0.0.1
    pullPolicy: Always
  ui:
    repository: harbor.cyberneticks.com/library/b0k3ts-ui
    tag: v0.0.1
    pullPolicy: Always

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""


podAnnotations: {}

podLabels: {}

podSecurityContext:
   fsGroup: 1000

securityContext:
   capabilities:
     drop:
     - ALL
   readOnlyRootFilesystem: true
   runAsNonRoot: true
   runAsUser: 1000

service:
  type: ClusterIP
  ports:
    server: 8080
    ui: 80

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

httpRoute:
  # HTTPRoute enabled.
  enabled: false
  # HTTPRoute annotations.
  annotations: {}
  # Which Gateways this Route is attached to.
  parentRefs:
  - name: gateway
    sectionName: http
    # namespace: default
  # Hostnames matching HTTP header.
  hostnames:
  - chart-example.local
  # List of rules and filters applied.
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /headers
  #   filters:
  #   - type: RequestHeaderModifier
  #     requestHeaderModifier:
  #       set:
  #       - name: My-Overwrite-Header
  #         value: this-is-the-only-value
  #       remove:
  #       - User-Agent
  # - matches:
  #   - path:
  #       type: PathPrefix
  #       value: /echo
  #     headers:
  #     - name: version
  #       value: v2

resources:
   limits:
     cpu: 1
     memory: 1Gi
   requests:
     cpu: 100m
     memory: 128Mi

livenessProbe:
  httpGet:
    path: /api/v1/healthz
    port: 8080
    scheme: HTTP

readinessProbe:
  httpGet:
    path: /api/v1/healthz
    port: 8080
    scheme: HTTP

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

volumes:
  - name: config
    configMap:
      name: b0k3ts-config
  - name: cache-vol
    emptyDir: { }
  - name: run-vol
    emptyDir: { }
  - name: tmp-vol
    emptyDir: { }
  - name: log-vol
    emptyDir: { }

volumeMounts:
  ui:
    - name: cache-vol
      mountPath: /var/cache/nginx
    - name: run-vol
      mountPath: /var/run
    - name: tmp-vol
      mountPath: /tmp
    - name: log-vol
      mountPath: /var/log/nginx
  server:
    - name: data
      mountPath: /opt/b0k3ts/data
      permissions: "0744"
    - name: config
      mountPath: /app/config.yaml
      subPath: config.yaml
      permissions: "0644"

volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 10Gi
#      storageClassName: ""

nodeSelector: {}

tolerations: []

affinity: {}


# TODO - Add support for secrets
config:
  yaml: |
    host: 0.0.0.0                             
    port: 8080
    jwtSecret: reg87erg7er09g7wrg87w9gfwa 
